@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:700|Roboto+Slab:700');
@font-face {font-family:"Socialico";src:url("Socialico.eot?") format("eot"),url("Socialico.woff") format("woff"),url("Socialico.ttf") format("truetype"),url("Socialico.svg#Socialico") format("svg");font-weight:normal;font-style:normal;}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1280px;margin: 0 auto;text-align: center;font-family: "Raleway"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1280px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "Socialico"}

/*button*/
.btn {font-family: "Roboto Slab";font-size: 13px; font-weight: 700; color: #fff; display: inline-block; padding: 15px 44.5px; background: #BE8558; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}
.btn2 {font-family: "Roboto Slab";font-size: 13px; font-weight: 700; color: #fff; display: inline-block; padding: 15px 44.5px; background: #CAB48B; border: 1px solid transparent; transition: all 0.5s ease;}
.btn2:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/* sprite */
.bg-card1 {width: 47px; height: 33px;background: url('../images/common/css_sprites.png') -10px -10px;}
.bg-card2 {width: 47px; height: 33px;background: url('../images/common/css_sprites.png') -77px -10px;}
.bg-email {width: 30px; height: 23px;background: url('../images/common/css_sprites.png') -60px -63px;}
.bg-location {width: 20px; height: 30px;background: url('../images/common/css_sprites.png') -144px -10px;}
.bg-phone {width: 30px; height: 30px;background: url('../images/common/css_sprites.png') -10px -63px;}
/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Roboto Slab"; font-size: 50px;font-weight: 700;color:#fff;}
h2 {font-family: "Roboto Slab"; font-size: 46px;font-weight: 700;color:#fff;}
h3 {font-family: "Roboto Slab"; font-size: 40px;font-weight: 700;color:#fff;}
h4 {font-family: "Roboto Slab"; font-size: 35px;font-weight: 700;color:#fff;}
h5 {font-family: "Roboto Slab"; font-size: 20px;font-weight: 700;color:#fff;}
/*header*/
#header {background: #000000;padding: 32px 0}
#header .row{max-width: 1024px}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-family: "Roboto Slab"; font-weight: 700; font-size: 11px; color: #fff; margin-right: 30px}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#BE8558;}
.hdLeft{text-align: left;}
.hdRight{text-align: right;}
.hdRight p{margin: 0 auto; font-family: "Roboto Slab"; font-weight: 700; font-size: 11px; color: #fff; height: 19px; margin-top: -10px}
.hdRight p span{font-weight: normal;font-size: 31px; display: inline-block;vertical-align: middle;letter-spacing: 10px; margin-left: 20px}
.hdRight p span a:hover{color:#BE8558;}

/*banner*/
#banner {position: relative;background: #ffffff url(../images/common/bg1.jpg)no-repeat center top; background-size: 100% 100%; padding: 29px 0 72px}
#banner .row{max-width: 1024px}
#banner h4{max-width: 541px; w  idth: 100%; margin: 0 auto; letter-spacing: 5px; border: 1px solid #BE8558;padding: 5px 0}
#banner img.bee{position: absolute; top: 30px; left: 20px; max-width: 601px; width:38%;}
#banner .bnrPanel{background: #000; margin-top:23px; padding: 45px 30px 0}
.bnrPanelTop{margin-left: 60px; margin-bottom: 40px}
.bnrPanelTop img{max-width: 483px; width: 100%}
.bnrPanelLeft{text-align: right;}
.bnrPanelRight{text-align: left;}
.bnrPanelRight p{color: #fff; margin-left: 30px; font-size: 14px}
#banner .btn{ margin-top: 35px}
/*content*/
#content {}
/* WELCOME */
#wlcSection{background: #000 url(../images/common/bg2.jpg)no-repeat center top; background-size: cover;padding: 50px 0 15px}
#wlcSection .row{max-width: 1024px}
#wlcSection h5{letter-spacing: 3px;max-width: 232px; width: 50%; margin: 0 auto 10px;border: 1px solid #fff; padding: 10px 0}
#wlcSection p{font-size: 15px; color: #fff; line-height: 25px}
.wlcLeft{text-align: left;width: 30%; margin-top: 50px}
.wlcMid{width: 40%}
.wlcMid img{max-width: 391px; width: 100%}
.wlcRight{text-align: left;width: 30%; margin-top: 50px}

#expSection{background: #000; padding: 153px 0 0}
#expSection .row{max-width: 1024px}
#expSection h3{text-align: left;}
#expSection h3 span{display: block;}
.expLeft{text-align: left;}
.expLeft p{margin: 40px 0;color: #fff}
.expLeft .btn{margin-right: 20px}
.expRight{}
.expRight img{position: relative;margin: -100px -65px 0 65px;max-width: 583px;width: 100%;}

#expSection2{background: #000; padding: 10px 0 130px;}
#expSection2 .row{max-width: 1024px}
.exp2Left {padding: 13px 0}
.exp2Left .border {border: 5px solid #CAB48B; border-right: unset; padding: 40px 0;margin-left: 100px;}
.exp2Left .border .images{display: flex;justify-content: space-between;max-width: 640px;margin-left: -100px;}
.exp2Left .border .images img{max-width: 199px; width: 35%;}
.exp2Right{text-align: left;}
.exp2content{margin-left: 30px;}
.exp2content ul{list-style: square inside url('../images/list.png');padding: 0;}
.exp2content ul li{margin: 0 auto;}
.exp2content ul li p{display: inline-block; margin: 0 0 0 20px;font-family: "Roboto Slab"; font-weight: 700; font-size: 20px!important;color: #fff;line-height: 2em!important;}
/* CONTACT DETAILS */
#cntDetSection{position: relative;background: #000 url(../images/common/bg3.jpg)no-repeat center top;background-size: 100% 74%;padding: 75px 0 0;}
#cntDetSection .row{max-width: 1024px}
#cntDetSection h1{max-width: 814px; text-align: right;margin: 0 0 0 auto}
#cntDetSection h5{max-width: 394px; border: 1px solid #fff; margin: 45px 0 45px auto; padding: 10px 0}
.cntPanel{background: url(../images/common/bgCntPanel.jpg)no-repeat center top; background-size: cover; padding: 45px 0 }
.cntPanelLeft, .cntPanelRight{width:30.224609375%;margin: 140px auto 0;}
.cntPanelMid.col-6{width: 39.55078125%}
.cntPanelLeft p{font-family: "Montserrat"; font-weight: 300; font-size: 12px; color: #fff; margin: 0}
.cntPanelRight p{font-family: "Montserrat"; font-weight: 300; font-size: 12px; color: #fff; margin: 10px 0}
.cntPanelLeft p:nth-child(2){font-size: 40px; color: #E1D7BF; letter-spacing: 2px}
.cntPanelMid img{max-width: 385px; width: 95%}
.cntPanelBottom {display: flex; justify-content: space-between;padding: 0 45px; align-items: center;}
.cntPanelBottom p img, .cntPanelBottom p span{display: inline-block; vertical-align: middle;}
.cntBottomLeft p, .cntBottomRight p {font-size: 15px; color: #fff; margin: 0 auto;}
.cntBottomMid {font-family: "Roboto Slab"; font-weight: bold; color: #fff; font-size: 30px; margin: 0 auto;}
.cntPanelBottom p span{display: inline-block; vertical-align: middle; margin-left: 5px}
#cntDetSection img.ant{position: absolute; top:182px;left:30px;max-width: 651px;width: 45%;}
#cntDetSection img.spider{position: absolute; top: 71%;right: 0; max-width: 366px;width: 20%;}

/*footer*/
#footer {background: #000;padding: 20px 0 0}
#footer .row{max-width: 1024px}
#footer .navi ul{list-style: none;margin: 5px auto;; padding: 0; text-align: left;}
#footer .navi ul li{display: inline-block; vertical-align: middle;margin-right: 30px}
#footer .navi ul li a{font-family: "Roboto Slab"; font-weight: bold; font-size: 11px;color: #fff}
#footer .navi ul li.active-menu a, #footer .navi ul li a:hover {color:#BE8558;}
#footer .copy, #footer .silver{margin: 5px auto; text-align: right;font-family: "Roboto Slab"; font-weight: bold; font-size: 11px;color: #fff}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
.cta { display: none;}
/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  body{min-width: 320px}
  .row{max-width: 95%!important}
  .hdLeft

  #banner img.bee{width: 30%}

  .expRight img{margin: -55px -40px 0 0;width: 100%;}

  #cntDetSection img.ant{top: 211px}
  #cntDetSection img.spider{top: 89%}
}
/* For mobile phones: */
@media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%!important ;
        float:unset;
    }
    #header{padding: 0}
    #header .row{max-width: 100%!important}
    #header a#pull{position: relative;display: block!important;color: #fff; padding: 10px 10px; border-bottom: 1px solid #BE8558}
    #header a#pull::after{content:url(../images/nav-icon.png); position: absolute; right:20px; top: 10px}
    #header nav ul{display: none;width:100%;position: absolute;top: 39px; left: 0; z-index: 9999;background: rgba(0,0,0,0.8)}
    #header nav ul li{display: block;padding: 10px 10px}
    #header nav ul li a{margin: unset; font-size: 15px}
    #header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;}
    #header nav ul li.active-menu, #header nav ul li:hover {background-color:#BE8558 ;}
    .hdRight{text-align: center;padding: 10px 0;}
    .hdRight p{height: auto;}

    #banner{padding: 20px 0}
    #banner img.bee{display: none;}
    .bnrPanelTop{margin: 0}
    .bnrPanelTop img{margin: 0 auto}
    .bnrPanelRight p{margin: 10px 0}

    #wlcSection{padding: 20px 0}
    .wlcMid img{display: none}
    .wlcLeft{margin-top: 20px}
    .wlcRight{margin-top: 20px}

    #expSection{padding: 20px 0}
    .expRight img{display: none}
    .expLeft .btn, .expLeft .btn2{padding: 15px 8%}

    #expSection2{padding: 20px 0;}
    .exp2Left .border{border: unset}
    .exp2Left .border .images{display: inline-block;}

    #cntDetSection{padding: 20px 0;}
    .cntPanelLeft, .cntPanelRight{margin: 0}
    .cntPanelBottom{display: block; text-align: center;}

    #footer {padding: 10px 0}
    #footer .navi ul{text-align: center;margin: 20px 0}
    #footer .copy, #footer .silver{text-align:center}
    .resImg{display: none}

    .bnrPanelTop img{width: 70%}
    .cntPanelMid img{width: 70%}

    .cta{background: #000  url("../images/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #000 ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
/* header font sizes */
@media only screen and (max-width: 600px) {
h1{font-size: 8.33vw}
h2{font-size: 7.66vw}
h3{font-size: 6.66vw}
h4{font-size: 5.83vw}
h5{font-size: 3.33vw}
/* paragraph font sizes */
@media only screen and (max-width: 411px) {
.bnrPanelRight p{font-size: 3.5vw}
}
